WcfClientCurrencyConverter/WcfClientCurrencyConverter/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53940/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53940/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ConvertToInr_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToInr" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertToInr_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToInrResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertToNpr_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToNpr" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertToNpr_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToNprResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertToPkr_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToPkr" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertToPkr_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToPkrResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertToSl_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToSl" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertToSl_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToSlResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ConvertToInr">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConvertToInr" message="tns:IService1_ConvertToInr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConvertToInrResponse" message="tns:IService1_ConvertToInr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToNpr">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConvertToNpr" message="tns:IService1_ConvertToNpr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConvertToNprResponse" message="tns:IService1_ConvertToNpr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToPkr">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConvertToPkr" message="tns:IService1_ConvertToPkr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConvertToPkrResponse" message="tns:IService1_ConvertToPkr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToSl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConvertToSl" message="tns:IService1_ConvertToSl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConvertToSlResponse" message="tns:IService1_ConvertToSl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertToInr">
      <soap:operation soapAction="http://tempuri.org/IService1/ConvertToInr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToNpr">
      <soap:operation soapAction="http://tempuri.org/IService1/ConvertToNpr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToPkr">
      <soap:operation soapAction="http://tempuri.org/IService1/ConvertToPkr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToSl">
      <soap:operation soapAction="http://tempuri.org/IService1/ConvertToSl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53940/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>